@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}


.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}